<STYLE>
    #hero  a:hover {background-color: var(--primary);transition:all ease .2s; color: white;}

</STYLE>

<!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero">
        <div class="cs-container">
            <div class="cs-flex-group">
             
                <h1 class="cs-title">In Vehicle UI Desiger at <a target="_blank" class="link" href="https://www.gm.com">General Motors</a>, <a target="_blank" class="link" href="https://www.instagram.com/artbyskelley/">Artist</a> and <a class="link" href="/blog/heavy-metal-drummer/">Drummer</a></h1>
                <!--<p class="cs-text">
                   Gandalf is a design & development studio. Since 2006 We have helped companies of all sizes. Superior results starting at $150/mo.
                 
                </p>-->
                <a style="margin-top:3rem" href="/contact" class="cs-button-solid">Get in touch</a>
               <!-- <a href="/contact" class="cs-button-transparent">
                    <img
                    class="cs-img"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg"
                    alt="play icon"
                    width="17"
                    height="17" />
                    Get in Touch
                </a>-->
            </div>
        </div>

      
    </section>